{% extends "layouts/base.html" %}
{% load static %}
{% block title %} Book List {% endblock title %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/main.css' %}"> <!-- include css file -->
{% endblock stylesheets %}
{% block content %}

<p class="title" style="font-size: 20px;"> Updating a Book </p>
<form method = "post" enctype="multipart/form-data">
{% csrf_token %}
{{form.as_p}}
{% if form.instance.coverPage and form.instance.coverPage.url %}
<p>
  <label>Current Cover Page:</label>
  <img src="{{ form.instance.coverPage.url }}" alt="Cover Page" style="max-width: 200px; max-height: 200px;">
</p>
{% endif %}
<button type="submit">Update Book</button>
</form>

{% endblock content %}